//extending
//Boxes
@mixin box($width, $height: $width) {
  width: $width;
  height: $height;
}
:root {
  --gap-p: 3rem;
  --gap-p-sm: 2rem;
  --border: 20px;
}

@mixin navColor($font, $underline: $white) {
  a {
    color: $font !important;
  }
  span {
    color: $underline;
  }
}

//helper classes
.my-20 {
  margin: 20px 0;
}

//Media Queries
//widths
$phone: 375;
$phablet: 600;
$tablet: 768;
$large: 1024;
$desktop: 1280;

@mixin phone {
  @media only screen and (max-width: ($phone * 1px)) {
    @content;
  }
}

@mixin phablet {
  @media only screen and (max-width: ($phablet * 1px)) {
    @content;
  }
}

@mixin tablet {
  @media only screen and (max-width: ($tablet * 1px)) {
    @content;
  }
}

@mixin large {
  @media only screen and (max-width: ($large * 1px)) {
    @content;
  }
}

@mixin desktop {
  @media only screen and (max-width: ($desktop * 1px)) {
    @content;
  }
}

@mixin tabletMin {
  @media only screen and (min-width: ($tablet * 1px)) {
    @content;
  }
}

//heights
$heightLG: 754;

@mixin HeightLG {
  @media only screen and (max-height: ($heightLG * 1px)) {
    @content;
  }
}

//absolute position
@mixin abs-position($top, $right, $bottom, $left) {
  position: absolute;
  top: $top;
  right: $right;
  bottom: $bottom;
  left: $left;
}

//transition default
.trans-reg {
  transition: all 0.2s ease-in-out;
}
.trans-slow {
  transition: all 0.5s ease-in-out;
}

//User halo animation
//add class to a div/span/btn wrapper
.generate-user-halo {
  @extend .gradient;
  border-radius: 50px;
  @include box(auto);
  position: relative;
  z-index: 1;
}

.generate-user-halo::before {
  position: absolute;
  content: "";
  border-radius: 50px;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: $orange;
  background: linear-gradient(58deg, $blue 20%, $fuschia 50%, $orange 100%);
  opacity: 0;
  z-index: -1;
  transition: opacity 0.3s ease-in;
}
.generate-user-halo:hover::before {
  opacity: 1;
}
